.error-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 6rem;
        margin-bottom: 1rem;
    }

    .btn {
        background: linear-gradient(45deg, var(--bg-primary), var(--bg-secondary));
        color: white;
        padding: 1rem 2rem;
        border-radius: 50px;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }
    }
}