<footer>
  <div id="desktopFooter">
    <div id="footer-content">
      <div id="social-links">
        <h4 data-translate="followMe"></h4>
        <div id="social-icons">
          <a
            href="https://twitter.com/iamshiuba"
            target="_blank"
            rel="noopener"
            aria-label="Twitter"
            class="fa-brands fa-x-twitter"
          >
          </a>
          <a
            href="https://soundcloud.com/iamshiuba"
            target="_blank"
            rel="noopener"
            aria-label="SoundCloud"
            class="fa-brands fa-soundcloud"
          >
          </a>
          <a
            href="https://youtube.com/@iamshiuba"
            target="_blank"
            rel="noopener"
            aria-label="YouTube"
            class="fa-brands fa-youtube"
          >
          </a>
          <a
            href="https://open.spotify.com/intl-pt/artist/0e3a6pkhKTpBipDoUdqh8v"
            target="_blank"
            rel="noopener"
            aria-label="Spotify"
            class="fa-brands fa-spotify"
          ></a>
          <a
            href="https://music.apple.com/br/artist/iamshiuba/1717511925"
            target="_blank"
            rel="noopener"
            aria-label="Apple Music"
            class="fa-brands fa-apple text-white"
          ></a>
          <a
            href="https://music.amazon.com.br/artists/B0CNQJGRH3/iamshiuba?marketplaceId=A2Q3Y263D00KWC&musicTerritory=BR&ref=dm_sh_ABVKbpCvqbGHjgpx54uGGKRta"
            target="_blank"
            rel="noopener"
            aria-label="Amazon Music"
            class="fa-brands fa-amazon text-sky-500"
          ></a>
          <a
            href="https://www.deezer.com/en/artist/244339282"
            target="_blank"
            rel="noopener"
            aria-label="Deezer"
            class="fa-brands fa-deezer text-purple-600"
          ></a>
        </div>
      </div>
      <div id="theme-container">
        <h4><span data-translate="theme"></span></h4>
        <div class="flex justify-start w-20">
          <button
            data-theme-toggle
            data-theme-value="light"
            title="Light"
            aria-label="Light"
            class="theme-button mr-2.5"
          >
            <i class="fas fa-sun"></i>
          </button>
          <button
            data-theme-toggle
            data-theme-value="dark"
            title="Dark"
            aria-label="Dark"
            class="theme-button mr-2.5"
          >
            <i class="fas fa-moon"></i>
          </button>
          <button
            data-theme-toggle
            data-theme-value="black"
            title="Black"
            aria-label="Black"
            class="theme-button mr-2.5"
          >
            <i class="fas fa-lightbulb"></i>
          </button>
          <button
            data-theme-toggle
            data-theme-value="red"
            title="Red"
            aria-label="Red"
            class="theme-button"
          >
            <i class="fas fa-heart"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="footer-bottom">
      <div id="quick-links">
        <h4 data-translate="quickLinks"></h4>
        <ul>
          <li>
            <a href="/about" data-translate="About" class="f-link"></a>
          </li>
          <li>
            <a href="/terms" data-translate="tos" class="f-link"></a>
          </li>
          <li>
            <a href="/privacy" data-translate="privacy" class="f-link"></a>
          </li>
          <li>
            <a href="/updates" data-translate="updates" class="f-link"></a>
          </li>
        </ul>
      </div>
      <div id="language-container">
        <h4 data-translate="Translations"></h4>
        <ul id="language" aria-labelledby="language-label" role="group">
          <li class="langItem">
            <a
              data-language="en-US"
              title="English"
              class="fi fi-us"
              aria-label="English"
              ><p>en-US</p></a
            >
          </li>
          <li class="langItem">
            <a
              data-language="pt-BR"
              title="Português"
              class="fi fi-br"
              aria-label="Português"
              ><p>pt-BR</p></a
            >
          </li>
          <li class="langItem">
            <a
              data-language="jp-JP"
              title="日本語"
              class="fi fi-jp"
              aria-label="日本語"
            >
              <p>jp-JP</p></a
            >
          </li>
          <li class="langItem">
            <a
              data-language="ru-RU"
              title="Русский"
              class="fi fi-ru"
              aria-label="Русский"
              ><p>ru-RU</p></a
            >
          </li>
          <li class="langItem">
            <a
              data-language="hi-IN"
              title="हिन्दी"
              class="fi fi-in"
              aria-label="हिन्दी"
              ><p>hi-IN</p></a
            >
          </li>
          <li class="langItem">
            <a data-language="zh-CN" title="中文" class="fi fi-cn"
              ><p>zh-CN</p></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div id="copyright" class="text-center">
      <hr id="f-divider" />
      <p>
        <span data-translate="prdBy"></span> &copy; 2024 - {{ current_year }}
        <span data-translate="footer"></span>
      </p>
    </div>
  </div>
</footer>
