<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Explore the music and videos of IamSHIUBA, a talented artist."
    />
    <meta
      name="keywords"
      content="iamshiuba, music, videos, musician, entertainment, artist, singles, music videos"
    />
    <title>IamSHIUBA</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='img/is_web.svg') }}"
      sizes="any"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/output.css') }}"
    />
  </head>
  <body>
    {% include 'partials/navbar.html' %}
    <main>{% block content %}{% endblock %}</main>
    {% include 'partials/footer.html' %} {% include 'partials/m-navbar.html' %}

    <script src="{{ url_for('static', filename='js/utils/ActiveClass.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils/Theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utils/Translations.js') }}"></script>
  </body>
</html>
