<div
  id="footer-container"
  class="grid grid-cols-1 lg:grid-cols-2 hover:bg-stone-800 transition ease-in-out duration-500 p-5 text-center items-center"
>
  <div
    id="followMe"
    class="grid grid-cols-1 lg:grid-cols-4 items-center overflow-hidden rounded-md"
  >
    <button
      onclick="window.open('https://github.com/ishiuba')"
      type="button"
      class="inline-block rounded-sm border border-stone-800 p-5 text-sm font-medium text-stone-200 hover:bg-purple-300 hover:text-purple-800"
    >
      GitHub
    </button>
    <button
      type="button"
      onclick="window.open('https://twitter.com/iamshiuba')"
      class="inline-block rounded-sm border border-stone-800 p-5 text-sm font-medium text-stone-200 hover:bg-blue-200 hover:text-blue-500"
    >
      X/Twitter
    </button>
    <button
      type="button"
      onclick="window.open('https://www.youtube.com/channel/UC0v8X2eBZ5c0OYKpZ1lEj7A')"
      class="inline-block rounded-sm border border-stone-800 p-5 text-sm font-medium text-stone-200 hover:bg-red-200 hover:text-red-500"
    >
      YouTube
    </button>
    <button
      type="button"
      onclick="window.open('https://soundcloud.com/iamshiuba')"
      class="inline-block rounded-sm border border-stone-800 p-5 text-sm font-medium text-stone-200 hover:bg-orange-200 hover:text-orange-400"
    >
      SoundCloud
    </button>
  </div>
  <div id="footer-copyright">
    <p class="font-light text-xs">&copy; 2025 iSHIUBA. Todos os direitos reservados.</p>
  </div>
</div>
