<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iSHIUBA - Vídeos</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../../css/main.css" />
  </head>
  <body>
    <nav id="nav"></nav>
    <main id="videos" class="p-3 slide-in text-center">
      <h1 class="text-4xl text-red-400 fade-in">Videos</h1>
      <p class="text-red-400 fade-in">
        Esta é a página de videos <br />
        Alguns que recomendo assistir:
      </p>
      <div
        class="videos max-w-2x1 mx-auto grid gap-5 p-5 grid-cols-1 lg:grid-cols-3 fade-in"
      >
        <div id="over_thinking" class="grid grid-cols-1">
          <iframe
            src="https://www.youtube.com/embed/Ct5kE8KGnQM?si=dca-S4qIp2txXlSA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <button
            class="text-red-500 p-3 hover:text-red-400 bg-stone-800 hover:bg-stone-700 hover:cursor-pointer"
            type="button"
            onclick="window.open('https://www.youtube.com/watch?v=Ct5kE8KGnQM')"
          >
            OVER-THINKING
          </button>
        </div>
        <div id="child_nost" class="grid grid-cols-1">
          <iframe
            src="https://www.youtube.com/embed/2jfeauEQx7w?si=TN1Mgz_QZqZ2zqUL"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <button
            class="text-red-500 p-3 hover:text-red-400 bg-stone-800 hover:bg-stone-700 hover:cursor-pointer"
            onclick="window.open('https://www.youtube.com/watch?v=2jfeauEQx7w')"
            type="button"
          >
            Childhood Nostalgia
          </button>
        </div>
        <div id="this_prfct_wrld" class="grid grid-cols-1">
          <iframe
            src="https://www.youtube.com/embed/kFSdn2X1Ttw?si=egoun5133EYJvdxj"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <button
            class="text-red-500 p-3 hover:text-red-400 bg-stone-800 hover:bg-stone-700 hover:cursor-pointer"
            onclick="window.open('https://www.youtube.com/watch?v=kFSdn2X1Ttw')"
            type="button"
          >
            This Perfect World
          </button>
        </div>
        <div id="tragic_end" class="grid grid-cols-1">
          <iframe
            src="https://www.youtube.com/embed/uf6PZ9WisZQ?si=gpTP6c4wX4YGyu2Xj"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <button
            class="text-red-500 p-3 hover:text-red-400 bg-stone-800 hover:bg-stone-700 hover:cursor-pointer"
            onclick="window.open('https://www.youtube.com/watch?v=uf6PZ9WisZQ')"
            type="button"
          >
            Tragic Ending
          </button>
        </div>
        <div id="tookWeasy" class="grid grid-cols-1">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/TP5w4li9pto?si=iY0tlafwo-8Ewu1p"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <button
            class="text-red-500 p-3 hover:text-red-400 bg-stone-800 hover:bg-stone-700 hover:cursor-pointer"
            onclick="window.open('https://www.youtube.com/watch?v=TP5w4li9pto')"
            type="button"
          >
            Took With Easy
          </button>
        </div>
        <div id="tHopeThatVnshs" class="grid grid-cols-1">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/7h8PByfg86M?si=AZ4gtun7iX0FnbQO"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <button
            class="text-red-500 p-3 hover:text-red-400 bg-stone-800 hover:bg-stone-700 hover:cursor-pointer"
            onclick="window.open('https://www.youtube.com/watch?v=7h8PByfg86M')"
            type="button"
          >
            The Hope That Vanishes
          </button>
        </div>
      </div>
    </main>
    <footer id="footer"></footer>

    <script src="../../js/nav.js"></script>
    <script src="../../js/footer.js"></script>
  </body>
</html>
