{% extends "base.html" %} {% block content %}
<div id="PRIVACY">
  <section class="privacy-section">
    <div class="privacy-container">
      <div class="header-content">
        <h1 data-translate="privacy"></h1>
        <p class="description" data-translate="ppDesc"></p>
        <p class="date" data-translate="PPdate"></p>
      </div>
      
      <div class="cards-grid">
        <div class="privacy-card">
          <div class="card-header">
            <i class="fas fa-database"></i>
            <h2 data-translate="ppDC"></h2>
          </div>
          <p data-translate="ppDCdesc"></p>
        </div>
        
        <div class="privacy-card">
          <div class="card-header">
            <i class="fas fa-cookie-bite"></i>
            <h2 data-translate="ppCOOKIE"></h2>
          </div>
          <p data-translate="ppCOOKIEdesc"></p>
        </div>
        
        <div class="privacy-card">
          <div class="card-header">
            <i class="fas fa-shield-alt"></i>
            <h2 data-translate="ppDS"></h2>
          </div>
          <p data-translate="ppDSdesc"></p>
        </div>
        
        <div class="privacy-card">
          <div class="card-header">
            <i class="fas fa-user-lock"></i>
            <h2 data-translate="ppCttP"></h2>
          </div>
          <p data-translate="ppCttPdesc"></p>
        </div>
        
        <div class="privacy-card">
          <div class="card-header">
            <i class="fas fa-envelope"></i>
            <h2 data-translate="ppCONTACT"></h2>
          </div>
          <p data-translate="ppCONTACTdesc"></p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
