<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iSHIUBA - Início</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../../css/main.css" />
  </head>
  <body>
    <nav id="nav"></nav>
    <main id="content" class="text-center p-3 slide-in">
      <h1 class="text-4xl text-red-400 fade-in">Olá, Mundo!</h1>
      <h4 class="text-2xl text-red-400 fade-in">
        Sejam bem-vindo(a)s à página principal de iSHIUBA!
      </h4>
      <p class="text-red-400 fade-in">
        É um remake do meu primeiro projeto web. Recomendo olhar os meus
        <a href="videos.html">videos</a>, a página
        <a href="about.html">sobre</a> ou checar meu
        <a href="https://github.com/ishiuba">GitHub</a>.
      </p>
    </main>
    <footer id="footer"></footer>

    <script src="../../js/nav.js"></script>
    <script src="../../js/footer.js"></script>
  </body>
</html>
