<footer class="d-flex footer">
  <div class="col-4" id="checkOut">
    <a
      href="https://github.com/iamshiuba"
      target="_blank"
      title="GitHub"
      rel="noopener"
      aria-label="GitHub"
    >
      <i class="fa-brands fa-github"></i>
    </a>
    <a
      href="https://x.com/iamshiuba"
      target="_blank"
      title="X (Twitter)"
      rel="noopener"
      aria-label="X (Twitter)"
    >
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a
      href="https://www.youtube.com/@iamshiuba"
      target="_blank"
      title="YouTube"
      rel="noopener"
      aria-label="YouTube"
    >
      <i class="fa-brands fa-youtube"></i>
    </a>
    <a
      href="https://soundcloud.com/iamshiuba"
      target="_blank"
      title="SoundCloud"
      rel="noopener"
      aria-label="SoundCloud"
    >
      <i class="fa-brands fa-soundcloud"></i>
    </a>
  </div>
  <div class="col-8 d-flex" id="footer">
    <p class="mb-0">
      <span data-translate="prdBy"></span> &copy; <script>document.write(new Date().getFullYear());</script>
      <span data-translate="footer"></span>
    </p>
  </div>
</footer>
