{% extends "base.html" %} {% block content %}
<!-- Privacy Header -->
<div class="privacy-header mb-5">
  <div class="container">
    <div class="row justify-content-center text-center py-5">
      <div class="col-md-8">
        <h1 class="display-4 fw-bold gradient-text" data-translate="privacy"></h1>
        <p class="lead mt-3"><span data-translate="ppDesc"></span></p>
        <p class="p-1"><span data-translate="PPdate"></span></p>
      </div>
    </div>
  </div>
</div>

<!-- Privacy Content -->
<div class="container">
  <div class="row justify-content-center g-4">
    <div class="col-lg-auto">
      <div class="privacy-card">
        <section class="mb-4">
          <div class="d-flex align-items-center mb-3">
            <i class="fas fa-database me-3"></i>
            <h2 class="mb-0"><span data-translate="ppDC"></span></h2>
          </div>
          <p class="text-start"><span data-translate="ppDCdesc"></span></p>
        </section>

        <section class="mb-4">
          <div class="d-flex align-items-center mb-3">
            <i class="fas fa-cookie-bite me-3"></i>
            <h2 class="mb-0"><span data-translate="ppCOOKIE"></span></h2>
          </div>
          <p class="text-start"><span data-translate="ppCOOKIEdesc"></span></p>
        </section>

        <section class="mb-4">
          <div class="d-flex align-items-center mb-3">
            <i class="fas fa-shield-alt me-3"></i>
            <h2 class="mb-0"><span data-translate="ppDS"></span></h2>
          </div>
          <p class="text-start"><span data-translate="ppDSdesc"></span></p>
        </section>

        <section class="mb-4">
          <div class="d-flex align-items-center mb-3">
            <i class="fas fa-user-lock me-3"></i>
            <h2 class="mb-0"><span data-translate="ppCttP"></span></h2>
          </div>
          <p class="text-start"><span data-translate="ppCttPdesc"></span></p>
        </section>

        <section class="mb-4">
          <div class="d-flex align-items-center mb-3">
            <i class="fas fa-envelope me-3"></i>
            <h2 class="mb-0"><span data-translate="ppCONTACT"></span></h2>
          </div>
          <p class="text-start"><span data-translate="ppCONTACTdesc"></span></p>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock content %}