{% load static %}
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#menu"
        aria-controls="menu"
        aria-expanded="false"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <a href="/" class="navbar-brand">
        <img src="{% static 'img/ishiubahor.png' %}" alt="shiuba" />
      </a>

      <div class="collapse navbar-collapse" id="menu">
        <label id="swicher" class="switch me-2">
          <input type="checkbox" id="theme-switcher" />
          <span class="slider round"></span>
        </label>
        <ul class="nav nav-underline">
          <li class="nav-item">
            <a href="/" class="nav-link active" data-translate="Homepage"
              >Homepage</a
            >
          </li>
          <li class="nav-item">
            <a
              href="{% url 'videos' %}"
              class="nav-link"
              data-translate="Streaming"
              >Streaming</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'about' %}" class="nav-link" data-translate="About"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a href="{% url 'news' %}" class="nav-link" data-translate="News"
              >News</a
            >
          </li>
        </ul>
      </div>
      <button
        id="langselect"
        class="icon"
        type="button"
        title="Change Language"
        data-bs-toggle="collapse"
        data-bs-target="#language"
        aria-controls="menu"
        aria-expanded="false"
        aria-label="Change Language"
      >
        <span class="fa-solid fa-language"></span>
        <label for="#langselect"><span data-translate="Translations">Translations</span></label>
      </button>
      <div class="collapse p-1" id="language">
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio1"
          autocomplete="off"
        />
        <label
          type="radio"
          class="button"
          for="btnradio1"
          onclick="setLanguage('en')"
        >
          <span class="fi fi-us"></span>
        </label>
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio2"
          autocomplete="off"
        />
        <label
          type="radio"
          class="button"
          for="btnradio2"
          onclick="setLanguage('br')"
        >
          <span class="fi fi-br"></span>
        </label>
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio3"
          autocomplete="off"
        />
        <label
          type="radio"
          class="button"
          for="btnradio3"
          onclick="setLanguage('jp')"
        >
          <span class="fi fi-jp"></span>
        </label>
      </div>
    </div>
  </nav>
</header>
