{% extends "base.html" %} {% block content %}
<div id="TERMS">
  <div class="tos-header">
    <div class="container">
      <div class="header-content">
        <div class="content-wrapper">
          <h1 data-translate="tos"></h1>
          <p class="description" data-translate="tosDesc"></p>
          <p class="date" data-translate="ToSdate"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="tos-content">
    <div class="content-wrapper">
      <div class="tos-card">
        <section>
          <div class="section-header">
            <i class="fas fa-user-shield"></i>
            <h2 data-translate="tosAU"></h2>
          </div>
          <p data-translate="tosAUdesc"></p>
        </section>

        <section>
          <div class="section-header">
            <i class="fas fa-copyright"></i>
            <h2 data-translate="tosCO"></h2>
          </div>
          <p data-translate="tosCOdesc"></p>
        </section>

        <section>
          <div class="section-header">
            <i class="fas fa-gavel"></i>
            <h2 data-translate="tosEL"></h2>
          </div>
          <p data-translate="tosELdesc"></p>
        </section>

        <section>
          <div class="section-header">
            <i class="fas fa-exclamation-circle"></i>
            <h2 data-translate="tosLoL"></h2>
          </div>
          <p data-translate="tosLoLdesc"></p>
        </section>

        <section>
          <div class="section-header">
            <i class="fas fa-tasks"></i>
            <h2 data-translate="tosCttT"></h2>
          </div>
          <p data-translate="tosCttTdesc"></p>
        </section>

        <section>
          <div class="section-header">
            <i class="fas fa-envelope"></i>
            <h2 data-translate="tosCONTACT"></h2>
          </div>
          <p data-translate="tosCONTACTdesc"></p>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}