# flyctl launch added from .gitignore

myapp\__pycache__
**\__pycache__
.idea
__pycache__
**\qodana.yaml
.vscode
.env

# flyctl launch added from .idea\.gitignore
# Default ignored files
.idea\shelf
.idea\workspace.xml
fly.toml
