<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iSHIUBA - Sobre</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../../css/main.css" />
  </head>
  <body>
    <nav id="nav"></nav>
    <main class="p-3 slide-in">
      <div id="about" class="fade-in text-center">
        <h1 class="text-4xl text-red-400">Sobre</h1>
        <p class="text-red-400">Fiz este site porque quis ter o meu próprio projeto web feito do zero.</p>
        <p class="text-red-400">
          Espero que gostem do meu remake de 2025!
        </p>
        <p class="text-red-400">Obrigado pela visita!</p>
      </div>
    </main>
    <footer id="footer"></footer>

    <script src="../../js/nav.js"></script>
    <script src="../../js/footer.js"></script>
  </body>
</html>
