<!DOCTYPE html>
<html lang="en">
  {% load django_bootstrap5 %} {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - iSHIUBA</title>
    <link rel="shortcut icon" href="{% static 'img/ishiubafavicon.png' %}" type="image/x-icon"/>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
  />
  </head>
  <body>
    {% include 'partials/header.html' %}
    <main>
      <div id="about">
        <h1 data-translate="aboutTitle">About</h1>
        <p class="lead" data-translate="aboutMessage">
          I made this website for fun. I was doing a course of programming and I
          was learning about how to build a simple but cool website. Then after
          a few weeks I started my own web project, to be honest I used AI for
          some things since I'm still new to programming, I used it for the JS
          part and to improve some of my HTML/CSS code, but of course I didn't
          make it 100% using AI. Thank you for visiting my website!
        </p>
      </div>
    </main>
    {% include 'partials/footer.html' %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/translations.js' %}"></script>
  </body>
  {% bootstrap_javascript %}
</html>
