<nav class="navbar navbar-expand-lg">
  <div class="nav-container container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      title="Menu"
      data-bs-toggle="collapse"
      data-bs-target="#menu"
      aria-controls="menu"
      aria-expanded="false"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand">
      <img
        class="logo"
        src="{{ url_for('static', filename='img/ishiubahor.png', v=1) }}"
        alt="Logo do iSHIUBA"
      />
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="menu">
      <ul id="pageURl" class="nav nav-underline">
        <li class="nav-item">
          <a
            href="/"
            class="nav-link active"
            title="Homepage"
            data-translate="Homepage"
          >
          </a>
        </li>
        <li class="nav-item">
          <a
            href="/streaming"
            class="nav-link"
            title="Streaming"
            data-translate="Streaming"
          ></a>
        </li>
        <li class="nav-item">
          <a
            href="/about"
            class="nav-link"
            title="About"
            data-translate="About"
          ></a>
        </li>
        <li class="nav-item">
          <a
            href="/tos"
            class="nav-link"
            title="Terms"
            data-translate="tos"
          ></a>
        </li>
        <li class="nav-item">
          <a
            href="/privacy"
            class="nav-link"
            title="Privacy"
            data-translate="privacy"
          ></a>
        </li>
      </ul>
    </div>
    <div id="lang-container" class="d-flex col-lg-3">
      <button
        id="langselect"
        class="icon"
        type="button"
        title="Change Language"
        data-bs-toggle="collapse"
        data-bs-target="#language"
        aria-controls="menu"
        aria-expanded="false"
        aria-label="Change Language"
      >
        <span class="fa-solid fa-language"></span>
        <label for="langselect"
          ><span data-translate="Translations"></span
        ></label>
      </button>
      <div class="langclp collapse p-1" id="language">
        <button
          type="button"
          data-language="en"
          title="English"
          class="fi fi-us"
          aria-label="English"
        ></button>
        <button
          type="button"
          data-language="pt"
          title="Português"
          class="fi fi-br"
          aria-label="Português"
        ></button>
        <button
          type="button"
          data-language="jp"
          title="日本語"
          class="fi fi-jp"
          aria-label="日本語"
        ></button>
        <button
          type="button"
          data-language="ru"
          title="Русский"
          class="fi fi-ru"
          aria-label="Русский"
        ></button>
        <button
          type="button"
          data-language="hi"
          title="हिन्दी"
          class="fi fi-in"
          aria-label="हिन्दी"
        ></button>
      </div>
    </div>
    <div class="d-flex">
      <button
        id="is_theme-switcher"
        type="button"
        class="switch"
        aria-label="Toggle Theme"
      >
        <i class="fas fa-moon"> <span>iSHIUBA</span> </i>
      </button>
      <button
        id="theme-switcher"
        type="button"
        class="switch"
        aria-label="Toggle Theme"
      >
        <i class="fas fa-moon"><span></span></i>
      </button>
    </div>
  </div>
</nav>
