.footer {
    justify-content: space-between;

    padding: .5em;
}

footer .d-flex {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.fa-brands {
    transform: scale(1.5);
}

#footer {
    justify-content: flex-end;
}

#tos,
#privacy {
    color: var(--text-color);
    transition: all 0.3s ease;
    transform: scale(1);
}

#tos:hover,
#privacy:hover {
    color: var(--bg-primary);
    transform: scale(0.9);
}

#checkOut {
    display: flex;
    align-items: center;
    align-content: flex-end;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}