<!DOCTYPE html>
<html lang="en">
  {% load django_bootstrap5 %} {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News - iSHIUBA</title>
    <link
      rel="shortcut icon"
      href="{% static 'img/ishiubafavicon.png' %}"
      type="image/x-icon"
    />
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
    />
  </head>
  <body>
    {% include 'partials/header.html' %}
    <main>
      <h1 data-translate="newsTitle">News</h1>
      <div class="container-fluid">
        <div class="col">
          <blockquote class="twitter-tweet" data-theme="dark">
            <p lang="en" dir="ltr">
              Hi, I&#39;m SHIUBA and this is my X profile.
              <a href="https://t.co/tTD3eHKrcI">pic.twitter.com/tTD3eHKrcI</a>
            </p>
            &mdash; IamSHIUBA (@iamshiuba)
            <a
              href="https://twitter.com/iamshiuba/status/1744506279203045753?ref_src=twsrc%5Etfw"
              >January 8, 2024</a
            >
          </blockquote>
        </div>
        <div id="news" class="col">
          <div class="video-links">
            <iframe
              src="https://www.youtube.com/embed/BzOLHaR-GEs"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
            <a
              rel="noopener"
              target="_blank"
              href="https://www.youtube.com/@iamshiuba/community"
            >
              <strong>CHECK OUT</strong>
            </a>
          </div>
        </div>
      </div>
    </main>
    {% include 'partials/footer.html' %}
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/translations.js' %}"></script>
  </body>
  {% bootstrap_javascript %}
</html>
