{% extends "base.html" %}{% block content %}
<script src="{{ url_for('static', filename='js/indexplaylist.js') }}"></script>
<div class="container-fluid" id="home">
  <div class="row">
    <section id="indexSec1" class="col-8 align-items-center">
      <h1 data-translate="greeting"></h1>
      <p>
        <span class="text-end" data-translate="mainMsg"></span
        ><br/><span class="text-start" data-translate="subMsg"></span>
      </p>
    </section>
    <section class="col-12">
      <div class="row justify-content-center">
        <div id="indexCard" class="card col-12 col-md-8">
          <h2 class="display-2"><span data-translate="highlight"></span></h2>
          <p class="lead" data-translate="hDescription"></p>
          <div id="highlightContainer" class="ratio ratio-16x9"></div>
          <div class="card-body">
            <a
              type="button"
              class="btn"
              data-bs-toggle="tooltip"
              rel="noopener"
              target="_blank"
              href="https://www.youtube.com/playlist?list=OLAK5uy_laLvEldekJ_qsP5DMbG-PYcEW3oQEYu_Q"
              aria-label="Check Out YouTube Playlist"
            ><span class="lead" data-translate="checkOut"></span></a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock content %}
