<footer class="footer-container">
  <div class="footer-content">
    <div class="quick-links">
      <h4 data-translate="quickLinks"></h4>
      <ul>
        <li><a href="/about" data-translate="About"></a></li>
        <li><a href="/terms" data-translate="tos"></a></li>
        <li><a href="/privacy" data-translate="privacy"></a></li>
      </ul>
    </div>
    <div class="social-links">
      <h4 data-translate="followMe"></h4>
      <div class="social-icons">
        <a
          href="https://twitter.com/iamshiuba"
          target="_blank"
          rel="noopener"
          aria-label="Twitter"
          class="fa-brands fa-x-twitter"
        >
        </a>
        <a
          href="https://soundcloud.com/iamshiuba"
          target="_blank"
          rel="noopener"
          aria-label="SoundCloud"
          class="fa-brands fa-soundcloud"
        >
        </a>
        <a
          href="https://youtube.com/@iamshiuba"
          target="_blank"
          rel="noopener"
          aria-label="YouTube"
          class="fa-brands fa-youtube"
        >
        </a>
      </div>
    </div>
    <div class="d-grid" id="language-container">
      <h4 data-translate="Translations"></h4>
      <div
        id="language"
        aria-labelledby="language-label"
        class="btn-group-vertical"
        role="group"
      >
        <div class="btn-group gap-2">
          <button
            type="button"
            data-language="en"
            title="English"
            class="fi fi-us"
            aria-label="English"
          ></button>
          <p class="align-self-center">English</p>
        </div>
        <div class="btn-group gap-2">
          <button
            type="button"
            data-language="pt"
            title="Português"
            class="fi fi-br"
            aria-p="Português"
          ></button>
          <p class="align-self-center">Português</p>
        </div>
        <div class="btn-group gap-2">
          <button
            type="button"
            data-language="jp"
            title="日本語"
            class="fi fi-jp"
            aria-p="日本語"
          ></button>
          <p class="align-self-center">日本語</p>
        </div>
        <div class="btn-group gap-2">
          <button
            type="button"
            data-language="ru"
            title="Русский"
            class="fi fi-ru"
            aria-p="Русский"
          ></button>
          <p class="align-self-center">Русский</p>
        </div>
        <div class="btn-group gap-2">
          <button
            type="button"
            data-language="hi"
            title="हिन्दी"
            class="fi fi-in"
            aria-p="हिन्दी"
          ></button>
          <p class="align-self-center">हिन्दी</p>
        </div>
        <div class="btn-group gap-2">
          <button
            type="button"
            data-language="zh"
            title="中文"
            class="fi fi-cn"
          ></button>
          <p class="align-self-center">中文</p>
        </div>
      </div>
    </div>
    <div class="d-grid">
      <div class="col-lg">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle text-center justify-content-between"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="display: inline-flex; align-items: center"
          >
            <span data-translate="Versions"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="https://ishiuba-js-prealpha.vercel.app/"
                >0.1.0</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://ishiuba-js.vercel.app/templates/pages/"
                >0.1.2</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://ishiuba-js-alpha.vercel.app/"
                >0.2.7</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://ishiuba-js-beta.vercel.app/"
                >Beta</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="https://ishiuba-js-a1.vercel.app/"
                >STARa1</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="https://ishiuba-js-b1.vercel.app/"
                >1.2.7</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="https://ishiuba-js-b2.vercel.app/"
                >1.3.5</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://iamshiuba-202501.vercel.app/"
                >2.1.28</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-grid">
      <h4><span data-translate="theme">Tema</span></h4>
      <div class="col-lg">
        <button
          id="theme-switcher"
          type="button"
          class="switch p-3 fas fa-moon"
          aria-label="Toggle Theme"
        ></button>
      </div>
    </div>

    <div class="copyright">
      <hr class="f-divider" />
      <p>
        <span data-translate="prdBy"></span> &copy; {{ current_year }}
        <span data-translate="footer"></span>
      </p>
    </div>
  </div>
</footer>
