{% extends "base.html" %} {% block content %}
<div id="TERMS">
  <section class="tos-section">
    <div class="tos-container">
      <div class="header-content">
        <h1 data-translate="tos"></h1>
        <p class="description" data-translate="tosDesc"></p>
        <p class="date" data-translate="ToSdate"></p>
      </div>

      <div class="cards-grid">
        <div class="tos-card">
          <div class="card-header">
            <i class="fas fa-user-shield"></i>
            <h2 data-translate="tosAU"></h2>
          </div>
          <p data-translate="tosAUdesc"></p>
        </div>

        <div class="tos-card">
          <div class="card-header">
            <i class="fas fa-copyright"></i>
            <h2 data-translate="tosCO"></h2>
          </div>
          <p data-translate="tosCOdesc"></p>
        </div>

        <div class="tos-card">
          <div class="card-header">
            <i class="fas fa-gavel"></i>
            <h2 data-translate="tosEL"></h2>
          </div>
          <p data-translate="tosELdesc"></p>
        </div>

        <div class="tos-card">
          <div class="card-header">
            <i class="fas fa-exclamation-circle"></i>
            <h2 data-translate="tosLoL"></h2>
          </div>
          <p data-translate="tosLoLdesc"></p>
        </div>

        <div class="tos-card">
          <div class="card-header">
            <i class="fas fa-tasks"></i>
            <h2 data-translate="tosCttT"></h2>
          </div>
          <p data-translate="tosCttTdesc"></p>
        </div>

        <div class="tos-card">
          <div class="card-header">
            <i class="fas fa-envelope"></i>
            <h2 data-translate="tosCONTACT"></h2>
          </div>
          <p data-translate="tosCONTACTdesc"></p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}