<header>
    <nav id="navContainer">
      <div id="navBrand">
        <a href="/home" class="text-lg font-black">
          <p>IamSHIUBA</p>
        </a>
      </div>
      <div id="desktopMenu">
        <ul>
          <li>
            <a
              href="/home"
              class="n-link"
              title="Homepage"
              data-translate="Homepage"
              data-page-target="home"
            ></a>
          </li>
          <li>
            <a
              class="n-link"
              href="/streaming"
              title="Streaming"
              data-translate="Streaming"
              data-page-target="streaming"
            ></a>
          </li>
          <li>
            <a
              class="n-link"
              href=" /about"
              title="About"
              data-translate="About"
              data-page-target="about"
            ></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>