{% load static %}
<footer>
  <div class="container">
    <div class="row">
      <!-- Footer Info -->
      <div class="col-md-9">
        <p>
          <span data-translate="prdBy">Powered by IamSHIUBA</span> &copy; 2023 -
          2024.
          <span data-translate="footer">All rights reserved.</span>
        </p>
      </div>
      <!-- Social Links -->
      <div class="col-md-3" id="checkOut">
        <p data-translate="follow">Check out:</p>
        <a
          href="https://github.com/iamshiuba"
          target="_blank"
          title="GitHub"
          rel="noopener"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          href="https://x.com/iamshiuba"
          target="_blank"
          title="X (Twitter)"
          rel="noopener"
        >
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a
          href="https://www.youtube.com/@iamshiuba"
          target="_blank"
          title="YouTube"
          rel="noopener"
        >
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a
          href="https://soundcloud.com/iamshiuba"
          target="_blank"
          title="SoundCloud"
          rel="noopener"
        >
          <i class="fa-brands fa-soundcloud"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
