{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row justify-content-center text-start">
      <h1 data-translate="privacy"></h1>
      <p class="text-center">
        <span class="p-5" data-translate="ppDesc"></span><br /><br/><span
         class="p-5" data-translate="PPdate"
        ></span>
      </p>
    <div class="col-12">
      <section>
        <h2 class="p-3"><span data-translate="ppDC"></span></h2>
        <p class="text-start p-3"><span data-translate="ppDCdesc"></span></p>
      </section>
      <section>
        <h2 class="p-3"><span data-translate="ppCOOKIE"></span></h2>
        <p class="text-start p-3">
          <span data-translate="ppCOOKIEdesc"></span>
        </p>
      </section>
      <section>
        <h2 class="p-3"><span data-translate="ppDS"></span></h2>
        <p class="text-start p-3"><span data-translate="ppDSdesc"></span></p>
      </section>
      <section>
        <h2 class="p-3"><span data-translate="ppCttP"></span></h2>
        <p class="text-start p-3"><span data-translate="ppCttPdesc"></span></p>
      </section>
      <section>
        <h2 class="p-3"><span data-translate="ppCONTACT"></span></h2>
        <p class="text-start p-3">
          <span data-translate="ppCONTACTdesc"></span>
        </p>
      </section>
    </div>
  </div>
</div>
{% endblock content %}
