<footer>
  <div id="desktopFooter">
    <div id="footer-content">
      <div id="quick-links">
        <h4 data-translate="quickLinks">Links</h4>
        <ul>
          <li>
            <a href="/about" data-translate="About" class="f-link">Sobre</a>
          </li>
          <li>
            <a href="/terms" data-translate="tos" class="f-link">Termos</a>
          </li>
          <li>
            <a href="/privacy" data-translate="privacy" class="f-link"
              >Privacidade</a
            >
          </li>
        </ul>
      </div>
      <div id="social-links">
        <h4 data-translate="followMe">Siga-me</h4>
        <div id="social-icons">
          <a
            href="https://twitter.com/iamshiuba"
            target="_blank"
            rel="noopener"
            aria-label="Twitter"
            class="fa-brands fa-x-twitter"
          >
          </a>
          <a
            href="https://soundcloud.com/iamshiuba"
            target="_blank"
            rel="noopener"
            aria-label="SoundCloud"
            class="fa-brands fa-soundcloud"
          >
          </a>
          <a
            href="https://youtube.com/@iamshiuba"
            target="_blank"
            rel="noopener"
            aria-label="YouTube"
            class="fa-brands fa-youtube"
          >
          </a>
        </div>
      </div>
      <div id="theme-container">
        <h4><span data-translate="theme">Tema</span></h4>
        <div class="pt-2 text-center w-20">
          <div data-theme-selector></div>
        </div>
      </div>
    </div>
    <div id="footer-bottom">
      <div id="version-container">
        <div class="columns-lg">
          <div class="container">
            <h4 data-translate="Versions">Versões</h4>
            <ul>
              <li>
                <a class="v-item" href="https://ishiuba-js-prealpha.vercel.app/"
                  >0.1.0</a
                >
              </li>
              <li>
                <a
                  class="v-item"
                  href="https://ishiuba-js-pas25.vercel.app/templates/pages/"
                  >0.1.2</a
                >
              </li>
              <li>
                <a class="v-item" href="https://ishiuba-js-alpha.vercel.app/"
                  >0.2.7</a
                >
              </li>
              <li>
                <a class="v-item" href="https://ishiuba-js-beta.vercel.app/"
                  >1.0.11</a
                >
              </li>
              <li>
                <a class="v-item" href="https://ishiuba-js-a1.vercel.app/"
                  >1.1.2</a
                >
              </li>
              <li>
                <a class="v-item" href="https://ishiuba-js-b1.vercel.app/"
                  >1.2.7</a
                >
              </li>
              <li>
                <a class="v-item" href="https://ishiuba-js-b2.vercel.app/"
                  >1.3.5</a
                >
              </li>
              <li>
                <a class="v-item" href="https://iamshiuba.pages.dev/"
                  >3.1.4</a
                >
              </li>
              <li>
                <a class="v-item" href="https://iamshiubadj1.vercel.app/"
                  >1.3.18</a
                >
              </li>
              <li>
                <a class="v-item" href="https://iamshiubadj2.vercel.app/"
                  >2.0.27</a
                >
              </li>
              <li>
                <a class="v-item" href="https://iamshiuba-202501.vercel.app/"
                  >2.1.28</a
                >
              </li>
              <li>
                <a class="v-item" href="https://iamshiuba-202502.vercel.app/"
                  >3.0.6</a
                >
              </li>
              <li>
                <a class="v-item" href="https://iamshiuba-202503.vercel.app/">
                  3.1.7
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="language-container">
        <h4 data-translate="Translations"></h4>
        <ul id="language" aria-labelledby="language-label" role="group">
          <li class="langItem">
            <a
              data-language="en-US"
              title="English"
              class="fi fi-us"
              aria-label="English"
              ><p>en-US</p></a
            >
          </li>
          <li class="langItem">
            <a
              data-language="pt-BR"
              title="Português"
              class="fi fi-br"
              aria-label="Português"
              ><p>pt-BR</p></a
            >
          </li>
          <li class="langItem">
            <a
              data-language="jp-JP"
              title="日本語"
              class="fi fi-jp"
              aria-label="日本語"
            >
              <p>ni-NI</p></a
            >
          </li>
          <li class="langItem">
            <a
              data-language="ru-RU"
              title="Русский"
              class="fi fi-ru"
              aria-label="Русский"
              ><p>ru-RO</p></a
            >
          </li>
          <li class="langItem">
            <a
              data-language="hi-IN"
              title="हिन्दी"
              class="fi fi-in"
              aria-label="हिन्दी"
              ><p>bh-BH</p></a
            >
          </li>
          <li class="langItem">
            <a data-language="zh-CN" title="中文" class="fi fi-cn"
              ><p>zh-ZH</p></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div id="copyright" class="text-center">
      <hr id="f-divider" />
      <p>
        <span data-translate="prdBy"></span> &copy; 2024 - {{ current_year }}
        <span data-translate="footer"></span>
      </p>
    </div>
  </div>
</footer>
